<div class="container-fluid navbar" role="navigation">
  <div class="pull-left">
    {{#link-to 'index' id='brand'}}T{{/link-to}}
  </div>
  <div class="pull-right">
    {{#link-to 'about' class='navbar-link'}}About{{/link-to}}
  </div>
</div>