<div id="index-wrapper" class="text-center">
	<div id="main-picture" ></div>
	<img id="profile" src="/assets/me.jpg" class="img-responsive img-rounded" alt="">
	<hr>
	<div id="index-content" class="container">
		<h1 class="main-heading">Tim Kellogg</h1>	
	</div>
	<hr>

	<div id="article-container" class="container">
		
	</div>
</div>